GROQ_API_KEY =''

SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI=''

TELEGRAM_TOKEN=''
TELEGRAM_USER_ID=''

GOOGLE_MAPS_API_KEY=''
YOUTUBE_API_KEY=''
GOOGLE_API_KEY=''

API_ID=''
API_HASH=''
BOT_USERNAME=''

NEWSAPI_KEY=''
FINNHUB_KEY=''