requests
geopy
SpeechRecognition
sounddevice
numpy
scipy
pvrecorder
pvporcupine
python-dotenv
opencv-python
face_recognition
access-points
spotipy
langdetect
flask flask-socketio
librosa
openwakeword
onnxruntime
pyngrok
ddgs